*
{
    font-family: "ttf-hack-nerd ";
    font-weight: bold;
    font-size: 12px;
}

window#waybar {
    border-radius: 15px;
    background: transparent;
    color: #cdd6f4;
}

tooltip {
    background: #1e1e2e;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #11111b;
}

tooltip label{
    color: #cdd6f4;
}

#workspaces button {
    padding: 1px;
    color: #000000;
    margin-right: 5px;
}

#workspaces button.active {
    color: #a6adc8;
}

#workspaces button.focused {
    color: #a6adc8;
    background: #eba0ac;
    border-radius: 10px;
}

#workspaces button.urgent {
    color: #11111b;
    background: #a6e3a1;
    border-radius: 10px;
}

#workspaces button:hover {
    background: #11111b;
    color: #cdd6f4;
    border-radius: 10px;
}

#window {
    font-size: 8px;
}

#clock,
#battery,
#network,
#tray,
#custom-cava,
#temperature,
#workspaces,
#backlight {
   
}

#bluetooth,
#pulseaudio,
#cpu,
#disk,
#custom-updates,
#memory,
#custom-lock_screen,
#custom-light_dark,
#custom-power_btn,
#custom-power_profile {
    padding: 0px 8px;
    margin: 1px;
    border-radius: 15px;
    opacity: 0.9;
}

#custom-cava {
    color: #8FBC8F;
    border-left: 0px;
    border-right: 0px;
    padding-bottom: 6px;
    font-family: "bargraph";
    font-size: 22px;
}

